root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #7266ba;
  --pink: #f532e5;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #fad732;
  --green: #37bc9b;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --inverse: #131e26;
  --primary-light: #8bb8f1;
  --primary-dark: #2f80e7;
  --success-light: #43d967;
  --success-dark: #1e983b;
  --info-light: #51c6ea;
  --info-dark: #1797be;
  --warning-light: #ffab5e;
  --warning-dark: #f77600;
  --danger-light: #f47f7f;
  --danger-dark: #ec2121;
  --green-light: #58ceb1;
  --green-dark: #2b957a;
  --pink-light: #f763eb;
  --pink-dark: #e90bd6;
  --purple-light: #9289ca;
  --purple-dark: #564aa3;
  --inverse-light: #243948;
  --inverse-dark: #020304;
  --yellow-light: #fbe164;
  --yellow-dark: #f3ca06;
  --primary: #5d9cec;
  --secondary: #fff;
  --success: #27c24c;
  --info: #23b7e5;
  --warning: #ff902b;
  --danger: #f05050;
  --light: #f8f9fa;
  --dark: #3a3f51;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}